
/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda
/.vs
/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/.vs
/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/CheckEventCapacity.Tests/bin/Debug/net8.0
/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/CheckEventCapacity.Tests/obj
