################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/CheckEventCapacity.Lambda/aws-lambda-tools-defaults.json
